<table>
	<tr valign="top">
		<td>
			<%= render :partial => 'menu' %>
		</td>
		<td width="20">
			&nbsp;
		</td>
		<td>
			<div class='individualCard' id='reportOutputCard' style='width: 430px'>
			  <div class='cardHeader'><span id='spanReportTitle' style='float: left'>Report Output</span></div>
			  <div id='divReportResults' class='cardContent' style='margin: auto; width: 400px;'>
					<%= render :partial => 'historic_graph' %>
				</div>
			</div>
		</td>
	</tr>
</table>

