# ignore logs and pids
# finally?

*.log
*.pid
public/images/*.png
public/images/*.gif
public/system/maintenance*
db/create_sample_data_*
tmp
config/database.yml
config/deploy.rb
config/database.*
public/images/minibox/*
