<table cellpadding=10 style='align: center'>
<tr valign=top>
  <td width=400>
    <div id='activeContainer' class='individualCard'>
        <table>
        <%- @active.each do |a| %>
            <tr>
                <td><%= a.name %></td>
                <td><%= a.username %></td>
            </tr>
        <%- end %>
        </table>
    </div>

  <div id='formContainer'>
    <%= render :partial => 'form' %>
  </div>
  
  </td>
</tr>
</table>
