<table>
	<tr>
		<td>
			<div id='updateForm'>
					<%= render :partial => 'login'%>
			</div>
		</td>
		<td width="77">
			&nbsp;
		</td>
		<td>			
			<div id='graph'>
				<%= render :partial => 'nedocs/graph' if Setting.public_display? %>
			</div>
		</td>
	</tr>
</table>