<table border=0 cellspacing=0 cellpadding=3 style="border: 2px solid #999999">
	<tr style="background: #999999; color: white">
		<td width="400">Name</td>
		<td width="50">&nbsp;</td>
	</tr>
	<%= render :partial => 'template_row', :collection => EmailTemplate.list || [] %>
</table>