/* Body, Text, Images */

body {
    background-color: #6b6b6b;
    background-image: url(/images/bg.gif);
    background-repeat: repeat-x;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin: 0;
}


p {
    margin: 0px 0px 17px 0px;
}

table {
    padding: 0;
    margin: 0;
}

td {
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

h1 {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    }

h2 {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    }

h3 {
    margin: 0;
    color: #000000;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    }

h4 {
    margin: 2px 0 4px 0;
    color: #222222;
}

.form_heading {
        font-size: 11px;
        line-height: 12px;
        font-weight: bold;
        color: #515151;
}
  
.note {
    font-family: Arial, Verdana, sans-serif;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    color: #515151;
}

.error {
    font-size: 12px;
    line-height: 13px;
    color: #E10E12;
}

img { border: 0; margin: 0; padding: 0; }

img.side_header { border: 0; margin: 0 0 12px 0; padding: 0; float: right;}
img.graphic_header { border: 0; margin: 0 0 12px 0; padding: 0; float: none;}



a         { font-family: Arial, Verdana, Helvetica, sans-serif; }
a:link    { text-decoration: underline; color: #666666; }
a:active  { text-decoration: underline; color: #666666; }
a:visited { text-decoration: underline; color: #666666; }
a:hover   { text-decoration: underline; color: #666666; background-color: #FFFCD1; }




.footer {
    color: #cccccc;
    font-size: 11px;
    line-height: 13px;
}

.footer a:link {text-decoration: underline; color: #cccccc; font-size: 11px;}
.footer a:active {text-decoration: underline; color: #cccccc; font-size: 11px;}
.footer a:visited {text-decoration: underline; color: #cccccc; font-size: 11px;}
.footer a:hover {text-decoration: underline; color: #ffffff; font-size: 11px; background-color: #6b6b6b;}


tr.footer {
    background-color: #6b6b6b;
}










/* Navigation */
img.nav {
    float: left;
    margin: 0px;
    padding: 0px;
}

img.support {
    float: left;
    padding: 0px 20px 40px 0px;
}





/* List Items */

ul {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    list-style-type: disc;
    list-style-position: outside;
    padding: 0px;
    margin: 0px 0px 14px 16px;
}

li {
    margin-bottom: 3px;
}




/* Miscellaneous Elements */

table.background_product {
    float: none;
    background-image: url('/images/interface/background_product.gif');
    background-repeat: repeat-y;
    line-height: 1px;
    margin: 0;
}


.dotted_line_horizontal {
    float: none;
    background-image: url('/images/interface/dot_horizontal.gif');
    background-repeat: repeat-x;
    line-height: 1px;
    margin: 25px 0 25px 0;
}

.dotted_line_vertical {
    float: none;
    background-image: url('/images/interface/dot_vertical.gif');
    background-repeat: repeat-y;
    background-position: top right;
    line-height: 1px;
    margin: 0;
}

div.clearer {
    clear: both;
    line-height: 0;
    height: 0;
}

/* Forms and Form Buttons */

.form {
    font-size: 11px;
    color: #013580;
    text-decoration: none;
    text-indent: 0;
    background-color: #ffffff;
    margin-bottom: 7px;
}

.mailform {
    font-size: 11px;
    color: #000000;
    text-decoration: none;
    text-indent: 0;
    background-color: #ffffff;
    margin-bottom: 1px;
}

.form_button {
    margin: 0;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    text-indent: 0;
    background-color: #F65F00;
}

.tab_normal {
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: #eeeeee;
}

.tab_selected {
    border-right: 0;
    border-top: 1px solid black;
    background-color: #ffffff;
}


div.auto_complete {
    width: 280px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected { 
    background-color: #ffb; 
}
div.auto_complete ul strong.highlight { 
    color: #800; 
    margin:0;
    padding:0;
}