<h1>Email Subscription</h1>

<p>
  Thanks for signing up! A confirmation email is being sent to the email address you provided, you should receive it soon. In order to complete the signup process and join our mailing list, you must click on the link in the email. This is done to prevent unwanted signups (someone else signing you up without your permission).
</p>
