<h1>Email Subscription</h1>

<p>Your subscription has been confirmed. Thanks for signing up!</p>

<p>If you have any questions or would like to hear from us sooner rather than later, feel free to <a href="/contact">contact us</a> anytime. We'd love to hear from you!</p>

<p>If you ever change your mind and want to unsubscribe (it happens to the best of us), you can visit the <a href="/subscriptions/signup">signup page</a> again (conveniently, it's also the unsubscribe page) or you can click on the "unsubscribe" link found at the end of each of our mailings.</p>
