<h1>Unsubscribe Successful</h1>

<p>You have been removed from our mailing list. We are sorry to see you go, but we understand completely. Remember when you first started using email and you were glad to receive any kind of email? Yeah, that was a long time ago for us, too.</p>

<p>But wait! Did you unsubscribe by accident? Not to worry, it takes only a minute to <a href="signup">get back on board</a>.</p>
