<h1>RAILS DEVELOPER FOR KAKAAKO WEB DEVELOPMENT FIRM</h1>

<h3 style="color: red">This position has been filled. Thanks for your interest!</h3>


<h2>Introduction</h2>

<p>Hi, my name is Aaron Namba, and I am the CEO of Bigger Bird Creative,
Inc. Now, I know talking to you like this is a bit Web 1.0, but let me
explain. We are a very small company consisting of the two owners (my
wife Annie and I) and one high school intern working part time.
Everything is very personal here, and so too is this call for a new
member to join our little team. Therefore, I will be writing this as if
we are sitting face to face having a little chat.</p>

<p>One more thing. You may read this over and find that it sounds like
the perfect opportunity... for a friend. By all means, please send your
friend the link to this page, or <a href="javascript:print();">print it
out</a> for them.</p>

<h2>Job Title</h2>

<p>Go ahead and pick your own (subject to approval by me), but allow me
to suggest a combination of one word from column A and one from column
B:</p>

<div style="float: left">
  <h3>Column A</h3>
  <ul>
    <li>web</li>
    <li>software</li>
    <li>interactive</li>
    <li>solution</li>
  </ul>
</div>

<div style="float: left">
  <h3>Column B</h3>
  <ul>
    <li>architect</li>
    <li>engineer</li>
    <li>developer</li>
    <li>specialist</li>
    <li>analyst</li>
  </ul>
</div>
<br class="clear" />

<p>No need to pick yet, you'll have a better idea of what you'll want
people to call you after you finish reading.</p>


<h2>Job Description</h2>

<p>Your primary job function is to develop cutting-edge Ruby on Rails
web applications to meet the changing needs of our clients. Therefore, a
good grasp of object oriented programming (particularly the
Model-View-Controller pattern), a bit of database design, and a very
strong command of HTML/CSS/JS will be needed to hit the ground running.
In addition to these core skills, here are a few more of the things you
will be using regularly:</p>

<ul>
  <li>Subversion</li>
  <li>Mac OS X</li>
  <li>MySQL</li>
  <li>Photoshop</li>
  <li>XML, XSL, XSL-FO</li>
  <li>Flash/Flex/ActionScript</li>
  <li>XML and REST web services</li>
  <li>Apache</li>
  <li>Linux (Fedora/Centos)</li>
</ul>

<p>If you haven't heard of any of these, you may be in trouble. If you
have heard of them but are not already proficient in these skills, you
must be confident that you can pick them up quickly. Ideally, just
looking through the list motivated you to get up and learn
something.</p>

<p>Related experience is helpful, but not necessary. We have a variety
of projects to work on, from brain-dead simple to dizzyingly complex, so
we will start you at an appropriate level and go from there.</p>

<p>Keep in mind that being full-timer #3 means that you will be an
integral part of the company. At times, this will be less than
glamorous. Sometimes this will involve making copies and checking our
mailbox. Sometimes, this will involve working directly with clients. And
it will almost certainly involve high-fives and drinks when we close a
big deal. But even though you will be "the new guy," we won't unload on
you all the tasks we hate. You will see us performing a range of tasks,
big and small.</p>


<h2>About the Company</h2>

<p>Here's the fluff I wrote for our web site:</p>

<p style="margin: 0 20px 12px 20px; border: 1px dashed gray; padding: 10px;">Honolulu-based Bigger Bird Creative, Inc. is a
leading-edge web technology company providing high-value, full-service
web site solutions for Hawaii's businesses. Founded on June 1, 2005 by
two local web pioneers, Bigger Bird is committed to helping businesses
to succeed in a fast-paced, global economy.</p>

<p>Full service means that we do our best to ensure that our clients can
count on us for all of their web site and internet marketing needs. This
means that we are constantly developing new skills, perfecting new
techniques and evaluating new technologies.</p>

<p>We like our work and tend to work odd hours and sometimes weekends.
Many of our clients think we work 24/7, since we do occasionally send
emails at 4am or respond instantly to an email inquiry on Sunday
morning. We don't actually work 24/7, but we do work a lot. We won't ask
you to do work as much as we do, but if long hours are a turn-off for
you, I would recommend looking for a bigger company.</p>


<h2>Salary</h2>

<p>Base pay starts at $30,000/year, with a raise to $36,000 after a 3
month probationary period. Let me explain that.</p>

<p>For the first 3 months, we will evaluate the fit to see if you are a
good match for this company. If either you or we decide that the fit
isn't right, we simply part ways.</p>

<p>On the other hand, if you are still with us at the end of the 3
months, you become a full-fledged, card-carrying Bigger Bird employee.
Congratulations! You get a guaranteed raise to $36,000, full benefits
(except for the retirement plan, which requires 1 year of service), and
enough business cards to last a lifetime. Further raises will be
performance based, with evaluations every 6 months. Bonuses may be
awarded for exceptional performance.</p>

<p>Now, we fully realize that this is pitiful, and we will work to fix
that as quickly as possible. It should be worth something to note that
I, as the CEO, am not making much more than that myself. In return for
the tiny paychecks, we do have some great benefits and the work
atmosphere is great. Keep reading...</p>


<h2>Benefits</h2>

<ul>

  <li>All the holidays! 13 total. Who likes to work when other people
  are off?</li>

  <li>Vacation and sick leave.</li>

  <li>Free coffee and snacks! Some days we have lunch meetings paid by
  the company, and occasionally pau hana drinks for a job well
  done.</li>

  <li>Parking is not free, but we subsidize bus passes 100% and we are
  close to three major bus routes. We will almost certainly subsidize
  rail passes.</li>

  <li>Top-of-the-line medical insurance (includes dental, drug,
  optical).</li>

  <li>Defined-contribution retirement plan with 3% matching.</li>

</ul>


<h2>Atmosphere and Work Environment</h2>

<ul>

  <li>We are located in Kakaako, a block from the Ward Entertainment
  Center and the other Wards, as well as Ala Moana Center. Plenty of
  food and fun within walking distance.</li>

  <li>If you don't like Kakaako or you live on the North Shore, you can
  telecommute up to 4 days a week.</li>

  <li>We are sharing office space with another company (~50
  employees), so you'll meet and work with people other than the three
  of us. Plus, we're always invited to our host company's parties,
  they are a blast.</li>

  <li>Dress like the Mac guy, not the PC guy. (We all use Macs
  anyway.)</li>

  <li>Playing with the latest technology comes with the job. We keep
  computers and software new. We try the latest internet services and
  experiment with new platforms. Entire days are devoted to picking
  apart new things to see how they work.</li>

</ul>


<h2>Expected Qualities</h2>

<p>There are only three, and they are listed in order of importance.
Naturally, there are a lot of qualities we desire in an employee (you
know, the ones you always see... "team player," "excellent written and
verbal communications skills") but truly, if you have these three
qualities, you can do anything.</p>

<p><strong>Love of learning.</strong> You take a question you can't
answer or a task you've never attempted before as learning opportunity,
not a threat. There may be some fear of the unknown, but it is a
challenge, not a reason to give up or get defensive.</p>

<p><strong>Commitment to excellence.</strong> This is all about customer
service: having a friendly, can-do attitude. It doesn't mean you have to
be outgoing, but you must be able to receive requests or even complaints
with genuine concern for the client's needs and go the extra mile to
make sure the client is happy with the outcome.</p>

<p><strong>Attention to detail.</strong> There is a reason we all use
Macs as our primary machines: the littlest, seemingly insignificant
details, (often related to aesthetics or convenience), can make all the
difference. You need to at least appreciate this kind of quality or you
won't last long at our company.</p>


<h2>Other Notes</h2>

<ul>

  <li>You must be a U.S. citizen or permanent resident.</li>

</ul>


<h2>Next Steps</h2>

<p>So, you think this is the job for you. What now?</p>

<p>Come visit us! (Sorry if you happen to be reading this from the
mainland or outside the U.S., but maybe this is a good excuse to come
visit our lovely state!)</p>

<p>Call me at <strong>447-9106</strong> to schedule a time and get
directions to our office. This may be your first step into a wider
world.</p>
