<h1>
  Management Start Page
</h1>

<p>
  <ul>
    <li><%= link_to 'Uploads',     :controller => '/management/uploads',     :action => 'index' %>
        - Retrieve and manage uploaded files.</li>
    <li><%= link_to 'Users',       :controller => '/management/users',       :action => 'index' %>
        - Grant management access to employees.</li>
  </ul>
</p>